# cypress
cypress.env.json
cypress/screenshots/
cypress/videos/
cypress/downloads/

# dependencies
/frontend/node_modules
/backend/node_modules
/node_modules
/build
/dist

# results
results/*.xml

# misc
.DS_Store

