# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/node_modules
/node_modules
/build
/dist

# misc
.DS_Store

# cypress
cypress.env.json
cypress/downloads/
cypress/screenshots/
cypress/videos/